body{
    font-family: Arial, sans-serif;
    font-size: 0.82em;
    padding:0;
    margin:0;
}

h3{
    margin:5px 0;
    padding:0;
    border-bottom:1px solid grey;
   
}

h4{
    margin:5px 0;
    padding:0;
    border-bottom:1px dashed grey;
}

.container{
    width: 260px;
    max-height:350px;
    /*border: 1px solid grey;*/
    margin: 2px;
    padding: 5px;
}

.footer{
    border-top:1px solid grey;
    font-size:0.8em;
    margin-top:5px;
    text-align:center;
    padding-top:5px;
}

.footer a{
	font-weight:bold;
	text-decoration:none;
	color: #0000BB;
}	

.notification{
    margin:10px 0px;
	cursor:pointer;
}

.notification-header{
	vertical-align: middle;
	margin-bottom:2px;
}

.notification-body{
    
}
.notification-footer{
	
}

.author-img{
    margin-right:3px;
	vertical-align:middle;
	width:20px;
}

.author{
    font-weight:bold;
}

.action{

}

.age{
	color:grey;
	display:block;
    font-size:0.9em;
	margin-top:2px;
    
}

.status-open{
	color: #6cc644;
}

.status-closed{
	color: #bd2c00;
}

.status-merged{
	color: #6e5494;
}

