body{
    font-family: Arial, sans-serif;
    font-size: 0.85em;
}

h3{
    margin:5px 0;
    padding:0;
    border-bottom:1px solid grey;
   
}

h4{
    margin:5px 0;
    padding:0;
    border-bottom:1px dashed grey;
}

.container{
    width: 200px;
    max-height:350px;
    border: 1px solid grey;
    padding: 5px;
}

.footer{
    border-top:1px solid grey;
    font-size:0.8em;
    margin-top:5px;
    text-align:center;
    padding-top:5px;
}

.author-img{
    float:left;
    margin-right:3px;
}

.author{
    font-weight:bold;
}

.action{

}

.age{
    font-size:0.9em;
    color:grey
}
